   <div class="homePage">
            <div class="main">
                <div class="info">
                    <div class="slogan">
                    Sophisticated Scores. Simple Pricing. No Hassles.
                    </div>
                </div>
                <div id="productCards" class="productCards">
                    <a routerLink="/samples"id="scoreCard">
                        <div class="floatText">Browse Scores </div>
                    </a>
                    <div  id="recordCard" >
                        <div class="floatText">Recording Sessions</div>
                    </div>
                </div>
            </div>         
   </div>
   
   
    