<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lorenz Productions</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url"           content="https://gideonsystems.net" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Lorenz Scores and Sound Production" />
  <meta property="og:description"   content="Beautiful percussion ensemble charts and custom sound recording services available at\
  Lorenz Productions. " />
  <meta property="og:image"         content="https://gideonsystems.net/images/mic.jpg" />
 
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/x-icon" href="https://gideonsystems.net/images/mic.jpg">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

  <app-root></app-root>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>

  
  
<script type="text/javascript" src="runtime.js"></script><script type="text/javascript" src="polyfills.js"></script><script type="text/javascript" src="styles.js"></script><script type="text/javascript" src="vendor.js"></script><script type="text/javascript" src="main.js"></script></body>
</html>
