<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="http://localhost:1737/success.css">
    </head>
    <body>
        <img class="banner" src="http://localhost:1737/images/studio.jpg">
        <div class="successMessage">
            <div class="head">Success!</div>
            <div class="message">Your password has been successfully reset. Navigate 
                back to LorenzProductions to login again. </div>
            <a href="http://localhost:4200/"><button class="navButton">Back to Home</button></a>
        </div>
    </body>
</html>