<style>
.resetEmail{
    height: 500px !important;
}

.emailHead{
    display: grid !important;
    grid-template-columns: 1fr 3fr !important;
}

.brandHeader{
    font-size: 30px !important;
    width:50%;
}

.resetLink{
    font-size: 18px !important;
    margin-top: 30px !important;
}
</style>